<mat-form-field style="margin: 10px 30px">
    <input matInput [(ngModel)]="interview.startDate" placeholder="Start Date">
  </mat-form-field>
  <mat-form-field style="margin: 10px 30px">
    <input matInput [(ngModel)]="interview.endDate" placeholder="End Date">
  </mat-form-field >
  <mat-form-field style="margin: 10px 30px">
    <input matInput [(ngModel)]="interview.candidatId" placeholder="Candidate Id">
  </mat-form-field>
  <mat-form-field style="margin: 10px 30px">
    <input matInput [(ngModel)]="interview.interviewerId" placeholder="Interviewer Id">
  </mat-form-field>

  <button style="margin: 10px 30px" mat-raised-button color="primary" (click)="onCreate()">Create</button>

  <mat-checkbox [(ngModel)]="isToday"
                      (ngModelChange)="onUpdateToday()">
          Today
        </mat-checkbox>
<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field>
            <input readonly matInput [(ngModel)]="element.startDate">
          </mat-form-field>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element">         <mat-form-field>
        <input readonly matInput [(ngModel)]="element.endDate">
      </mat-form-field> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="candidate">
      <th mat-header-cell *matHeaderCellDef> Candidate </th>
      <td mat-cell *matCellDef="let element">
        {{element.candidat.name + ' ' + element.candidat.surname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="interviewer">
      <th mat-header-cell *matHeaderCellDef> Interviewer</th>
      <td mat-cell *matCellDef="let element">
        {{element.interviewer.name + ' ' + element.interviewer.surname}}
    </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">

            <button mat-raised-button (click)="onDelete(element.id)" color="warn">Delete</button></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
